apiVersion: v1
kind: ConfigMap
metadata:
  name: htcondor-config
  namespace: default
data:
  condor_config: |
    {% if 'central_manager' in group_names -%}
{{ lookup('template', 'condor_config.central_submit.j2') | indent(4) }}
    {% elif 'execute_nodes' in group_names -%}
{{ lookup('template', 'condor_config.execute2.j2') | indent(4) }}
    {% endif %}
